{% extends "layouts/full.twig" %}

{% block fluidheader %}
  {{ mosaic|raw }}
{% endblock %}

{% block content %}
<div id="content">
  <div class="container">

    <div class="section-title margin">
      <h1>
        <a href="/live-tweets/" class="ptv-js-LivetweetFilter-link"> <strong><span class="ptv-js-LivetweetFilter-mainTitle">Derniers tweets{% if channel is defined %} de {{ channel.name }}{% endif %}</span></strong></a>
        <span>»</span>
        <span class="clear-grey">
          <span class="ptv-js-LivetweetFilter-secondTitle">Voir les tweets en direct</span>
        </span>
      </h1>
    </div>
    <div class="livetweet-container">
      <div class="row">
        <div class="span-page">
          <div class="section-title" style="display: none;">
            <h1>
              <a href="/live-tweets/{% if channel is defined %}{{ channel.alias }}/{% endif %}">
                <strong>Participez à la Social TV<span class="js-ptv-LivetweetFilter-socialChannel">{% if channel is defined %} sur {{ channel.name }}{% endif %}</span></strong>
              </a>
            </h1>
          </div>
          <div class="js-ptv-Tweet">
            <div class="type-of-tweets">
              <a href="#last" class="last-tweets is-active js-ptv-Tweet-filter" data-event-tracker="SOCIALTV-TIMELINE-last">Derniers tweets</a>
              <a href="#trending" class="hot-tweets js-ptv-Tweet-filter" data-event-tracker="SOCIALTV-TIMELINE-hot">Hot tweets</a>
            </div>
            <a href="#" class="ptv-Tweet-moreLink ptv-Tweet-moreLink--hidden ptv-js-Tweet-moreLink"><span class="ptv-js-Tweet-numberTweet">0</span> nouveaux tweets</a>
            <ul id="tweets" data-auto-update="true"{% if channel is defined %} data-channel-alias="{{ channel.alias }}"{% endif %} class="js-ptv-Tweet-list">
              {{ social_tv_posts|raw }}
            </ul>
          </div>
        </div>
        <div class="span-sidebar">
          {% include "controllers/live-tweets/_sidebar.twig" %}
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /#content -->
{% endblock content %}
