{% if posts %}
  {% for tweet in posts %}
    <li id="tweet-{{ tweet.tweet_id }}" class="tweet{% if tweet.retweets > 2 %} tweet-status-featured{% endif %}">
      <div class="tweet-author-img">
        <img data-src="{{ tweet.image_url }}" width="36" height="36" alt="{{ tweet.author }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" onload="lzld(this)">
        <div class="cache"></div>
      </div>
      <div class="tweet-head">
          <p class="tweet-author">
            <a href="https://twitter.com/{{ tweet.author }}" rel="nofollow" target="_blank" title="Voir le profil de {{ tweet.author }}">{{ tweet.author }}</a>
          </p>
          <p class="tweet-since">
            <a href="https://twitter.com/{{ tweet.author }}/status/{{ tweet.tweet_id }}/" rel="nofollow" target="_blank">
              {% set duration = (tweet.since / 60)|round %}
              il y a <span class="tweet-since-time" data-timestamp="{{ tweet.date }}" data-duration="true">{% if duration > 1 %}  {{ duration|diff_for_humans }} {% else %} {{ tweet.since }} sec{% endif %}</span>
            </a>
          </p>

      </div>
      <p class="tweet-content">
        <a href="https://twitter.com/intent/retweet?tweet_id={{ tweet.tweet_id }}" rel="nofollow" target="_blank" class="{% if tweet.retweets > 0 %}tweet-retweet{% else %}tweet-no-retweets{% endif %}" title="Re-tweet !">
          <span>{% if tweet.retweets > 0 %}{{ tweet.retweets }}{% else %}0{% endif %}</span>
        </a>
        <div>
          {{ tweet.text|raw }}
        </div>
      </p>
    </li>
  {% endfor %}
{% else %}
  <li class="text ptv-js-SocialTv-noPost">{% trans %}no_tweets_available{% endtrans %}</li>
{% endif %}
