{% extends "layouts/full.twig" %}

{% block content %}
{% include "partials/subnav-guide-tv.twig" with {"subnav_active": "home"} %}

<div id="content">
  <div class="container">

    <div class="row">

      <div class="span-page">

        <div class="section-title margin">

          <form id="programs-date-select" class="right">
            <select onchange="window.location.assign($(this).val());return false;" class="pmd-Select">
            {% for date in dates %}
              {% set route_params = is_website_fr ? {'date': date|date('d-m-Y')} : {'date': date|date('Y-m-d')} %}
              <option value="{{ path('programmes_prime_date', route_params) }}"{% if now_date == date %} selected="selected"{% endif%}>
                {% if now_date == date %}{% trans %}Today{% endtrans %}{% else %}{{ date|localizeddate('full', 'none', locale)|capitalize }}{% endif %}
              </option>
            {% endfor %}
            </select>
          </form>

          <h1>
            <a href="{{ path('programmes') }}"><strong>{% trans %}TV guide{% endtrans %}</strong></a>
          </h1>

        </div>

        <div class="xmargin">
          {{ broadcasts_presets|raw }}
        </div>

        <div class="text margin right">
          <a href="{{ path('programmes_prime_tonight') }}" class="pmd-Button pmd-Button--default pmd-Button--xs">
            {% trans %}More TV channels »{% endtrans %}
          </a>
        </div>

        {% if is_website_fr %}
        {# {% include "partials/ads-beopinion.twig" %} #}
        {% include "partials/ads-ga.twig" %}
        <div id="taboola-guide-programme"></div>
        {% endif %}

        {% if has_feature('toplive') %}

        <div class="section-title xmargin">
          <h2><a href="{{ path('toplive_index') }}"><strong>Audience Top live TV</strong></a></h2>
        </div>

        <div class="xmargin">
          {% include "controllers/toplive/_toplive.twig" with {"toplive": toplive, "by_trend": false} %}
        </div>

        <div class="pmd-Text--right">
          <a href="{{ path('toplive_index') }}" class="pmd-Button pmd-Button--default pmd-Button--xs">Audience TV complète »</a>
        </div>

        {% endif %}

      </div>

      <div class="span-sidebar">

        <div class="margin">
          {% include "partials/ads-banner.twig" with {'unique': "aea23cf0", "zone_id": 36} %}
        </div>

        {% if has_feature('broadcast_highlights') %}

        <div class="block-title xmargin">
          <h2><a href="{{ path('programmes_prime_a_ne_pas_manquer') }}"><strong>À ne pas manquer</strong> »</a></h2>
        </div>

        <div class="text clear-grey justify margin">
          <p>Voici notre sélection de <strong>films</strong>, <strong>séries</strong> ou <strong>émissions</strong> qu'il ne faut pas manquer prochainement à la télé ...</p>
        </div>

        <div class="featured-programs xmargin">
          {% include "controllers/programmes-tv/_featured.twig" with {"broadcasts": featured_broadcasts, "has_column": false} %}
        </div>

        <div class="pmd-Text--right">
          <a href="{{ path('programmes_prime_a_ne_pas_manquer') }}" class="pmd-Button pmd-Button--default pmd-Button--xs">Plus de programmes TV à ne pas manquer »</a>
        </div>
        {% endif %}

      </div>

    </div>

  </div>
</div>
{% endblock %}
